<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediksi Harga Rumah</title>
</head>
<body>
    <h1>Prediksi Harga Rumah</h1>
    <form action="/predict" method="post">
        <label for="luas">Luas:</label>
        <input type="text" name="luas" required><br>
        <label for="kasur">Jumlah Kamar Tidur:</label>
        <input type="text" name="kasur" required><br>
        <label for="km">Jumlah Kamar Mandi:</label>
        <input type="text" name="km" required><br>
        <button type="submit">Prediksi</button>
    </form>
</body>
</html>

